beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
CurrencyConverter==0.16.5
gevent==21.8.0
greenlet==1.1.2
grequests==0.6.0
idna==3.3
requests==2.26.0
soupsieve==2.3
urllib3==1.26.7
zope.event==4.5.0
zope.interface==5.4.0
CurrencyConverter==0.16.5
